# Grafana数据源配置
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: false
    
  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    version: 1
    editable: false

